
<div class="background"></div>

<div class="timer" style="text-align: center;" [class.greenred-border]='running||paused' [ngStyle]="{'animation-duration': maxTime + 'ms',
'animation-play-state': paused ? 'paused' : 'running', 
'border-color': timeUp ? 'red' : 'lime',
'animation-iteration-count': total_reps}">
    <div class="timeInput">
        <div class="banner" [class.shaking]='timeUp'>
            Random Timer
        </div>
        
        <h3>Minimum Time:</h3>
        <form id="minTime" class="input-form" (keyup.enter)="startButton()">
            <label for="minHrs">Hours: </label>
            <input id="minHrs" [(ngModel)]="minHrs" name="minHrs" type="number" min="0" max="99" ><span>  </span>
            <label for="minMin"> Minutes: </label>
            <input id="minMin" [(ngModel)]="minMin" name="minMin" type="number" min="0" max="59" ><span>  </span>
            <Label for="minSec"> Seconds: </Label>
            <input id="minSec" [(ngModel)]="minSec" name="minSec" type="number" min="0" max="59" >
        </form>
        
        <h3>Maximum Time:</h3>
        <form id="maxTime" class="input-form" (keyup.enter)="startButton()">
            <label for="maxHrs">Hours: </label>
            <input id="maxHrs" [(ngModel)]="maxHrs" name="maxHrs" type="number" min="0" >
            <label for="maxMin"> Minutes: </label>
            <input id="maxMin" [(ngModel)]="maxMin" name="maxMin" type="number" min="0" max="59" >
            <Label for="maxSec"> Seconds: </Label>
            <input id="maxSec" [(ngModel)]="maxSec" name="maxSec" type="number" min="0" max="59" >
        </form>
        <form class="input-form" (keyup.enter)="startButton()">
            <label for="reps"> Number of intervals: </label>
            <input id="reps" [(ngModel)]="total_reps" name="reps" type="number" min="1" max="99" >
        </form>
    </div>
    
    <div class="message">
        <h4 style="font-weight: bold;" [class.flashing]='timeUp'>{{ message }}</h4>
    </div>
    
    <!--display time elapsed in nested component-->
    <div class="display time-display">
        <app-formatted-time [time] = "elapsed_time"></app-formatted-time>
    </div>
    
    <div class="controls">
        <div *ngIf="status != 'on'" id="start" class="control" (click)="startButton()">
            <i class="fas fa-play"></i>
        </div>
        <div *ngIf="status == 'on'" id="pause" class="control" (click)="pauseButton()">
            <i class="fas fa-pause"></i>
        </div>
        <div *ngIf="status != 'off'" id="stop" class="control" (click)="stopButton()">
            <i class="fas fa-stop"></i>
        </div>
        <div class="control control-sound">
            <i class="fas" (click)="toggleSound()" [ngClass]="soundOn ? 'fa-volume-up' : 'fa-volume-mute'"></i>
        </div>
    </div>
    <br />
    
    <!--displays a list of completed intervals-->
    <div >    
        <h4 id="list-message">Completed Intervals:</h4>
        <div class="display result-list">     
            <h4 id="list-message">Completed Intervals:</h4>
            <app-result-list [result] = "result"></app-result-list>
        </div>
    </div>
    
    <div class="footer">
        <hr>
        <a href="https://github.com/Jbsiefken/random-timer">Source (GitHub)</a><br />
        <a href="https://joshsiefken.azurewebsites.net/contact">Contact Me</a><br />
        <a routerLink="/classic">Random Timer Classic</a>
    </div>
</div>
