<style>

    
    .numInput {
        width: 35px;
    }
    #hrs {
        width: 50px;
    }
</style>


<div style="text-align: center;">
    <div id="timeInput">
        <h4>Minimum Time:</h4>
        <form id="minTime">
            <label for="minHrs">Hours: </label>
            <input id="minHrs" class="numInput" type="number" value="0">
            <label for="minMin"> Minues: </label>
            <input id="minMin" class="numInput" type="number" max="59" value="0">
            <Label for="minSec"> Seconds: </Label>
            <input id="minSec" class="numInput" type="number" max="59" value="0">
        </form>
        <br />
        <h4>Maximum Time:</h4>
        <form id="maxTime">
            <label for="maxHrs">Hours: </label>
            <input id="maxHrs" class="numInput" type="number" value="0">
            <label for="maxMin"> Minues: </label>
            <input id="maxMin" class="numInput" type="number" max="59" value="0">
            <Label for="maxSec"> Seconds: </Label>
            <input id="maxSec" class="numInput" type="number" max="59" value="0">
        </form>
    </div>
    <br />
    <div id="button" class="circle" (click)="buttonClicked()">
        Start
    </div>
</div>
