<style>

    
    .numInput {
        width: 35px;
    }
    #hrs {
        width: 50px;
    }
</style>


<div style="text-align: center;">
    <div id="timeInput">
        <h4>Minimum Time:</h4>
        <form id="minTime">
            <label for="minHrs">Hours: </label>
            <input id="minHrs" [(ngModel)]="minHrs" name="minHrs" class="numInput" type="number" min="0" value="0">
            <label for="minMin"> Minues: </label>
            <input id="minMin" [(ngModel)]="minMin" name="minMin" class="numInput" type="number" min="0" max="59" value="0">
            <Label for="minSec"> Seconds: </Label>
            <input id="minSec" [(ngModel)]="minSec" name="minSec" class="numInput" type="number" min="0" max="59" value="0">
        </form>
        <br />
        <h4>Maximum Time:</h4>
        <form id="maxTime">
            <label for="maxHrs">Hours: </label>
            <input id="maxHrs" [(ngModel)]="maxHrs" name="maxHrs" class="numInput" type="number" min="0" value="0">
            <label for="maxMin"> Minutes: </label>
            <input id="maxMin" [(ngModel)]="maxMin" name="maxMin" class="numInput" type="number" min="0" max="59" value="0">
            <Label for="maxSec"> Seconds: </Label>
        <input id="maxSec" [(ngModel)]="maxSec" name="maxSec" class="numInput" type="number" min="0" max="59" value="0">
        </form>
    </div>
    <br />
    <div id="button" class="circle" (click)="buttonClicked()">
        Start
    </div>
</div>
