<style>
    .numInput {
        width: 35px;
    }
    #hrs {
        width: 50px;
    }
</style>


<div>
    Minimum Time:
    <form>
        <label for="hrs">Hours: </label>
        <input id="hrs" class="numInput" type="number">
        <label for="min"> Minues: </label>
        <input id="min" class="numInput" type="number" max="59">
        <Label for="sec"> Seconds: </Label>
        <input id="sec" class="numInput" type="number" max="59">
    </form>
    <br />
    Maximum Time:
    <form>
        <label for="hrs">Hours: </label>
        <input id="hrs" class="numInput" type="number">
        <label for="min"> Minues: </label>
        <input id="min" class="numInput" type="number" max="59">
        <Label for="sec"> Seconds: </Label>
        <input id="sec" class="numInput" type="number" max="59">
    </form>
</div>