/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


/*|| Animations */
@keyframes greenred {
    0%,20% {background-color: lime;}
    70% {background-color: rgb(255, 222, 0);}
    100% {background-color: red;}
}

@keyframes shake {
    0% {transform: translateX(-2px);}
    100% {transform: translateX(2px);}
}

@keyframes shimmer {
    0% {background-image: linear-gradient(45deg, black, white); color: transparent;}
    100% {background-image: linear-gradient(45deg, white, black); color: transparent;}
}

@keyframes flash {
    0% {opacity: 100%;}
    49% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 0%;}
}

.greenred {
    animation-name: greenred;
}

.shaking {
    animation-name: shake;
    animation-duration: .05s;
    animation-iteration-count: infinite;
}

.flashing {
    animation-name: flash;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

/*|| basic elements */
html {
    margin: 0%;
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0%;
    height: 100%;
}

input {
    border-color:  rgb(131, 131, 131);
    width: 45px;
}

label {
    padding-left: 5px;
}

hr {
    width: 250px;
    border-color:  rgb(131, 131, 131);
}

/*|| colored backdrop */
.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: lime;
}

/*|| timer main body */
.timer {
    position: relative;
    top: 30px;
    bottom: 20px;
    margin: auto;
    background-color: #a5a59b;
    border-style: solid;
    border-color: rgb(131, 131, 131);
    border-radius: 10px;
    height: 900px;
    max-width: 80%;
    width: 60%;
}

.banner {
    font-size: 43px;
    font-family: 'Russo One', sans-serif;
}

.message {
    height: 40px;
    border-style: solid;
    border-color: transparent;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

/*|| form area */
.input-form {
    background-color:#1900ff;
    color: white;
    max-width: 400px;
    margin: auto;
    padding-top: 3px;
    border-style: solid;
    border-color:  rgb(131, 131, 131);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.intervals {
    background-color:#df8600;
}

/*|| controls */
.controls {
    height: 50px;
    width: 150px;
    margin: auto;
    display: inline-block;
}

.control {
    font-size: 30px;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    background-clip: text;
    color: black;
    transition: color .1s;
}

.control:hover {
    animation-name: shimmer;
    animation-duration: .07s;
    color: #1900ff;
}

/*|| display spaces */
.display {
    font-family: 'VT323', monospace;
    background-color: rgb(181, 204, 54);
    color: rgb(0, 68, 0);
    border-color:  rgb(131, 131, 131);
    margin: auto;
    border-style: solid;
}

.time-display {
    font-size: 60px;
    line-height: 1.2;
    width: 300px;
}

.result-component {
    text-align: center;
}

.result-list {
    font-size: 25px;
    height: 160px;
    width: 400px;
    overflow: auto;
}

/*|| mobile styles */
@media (max-width: 900px){
    .timer {
        width: 100vw;
        margin: 0;
        right: 0;
        border-radius: 0;
        height: 140vh;
        max-width: none;
    }

    .banner {
        font-size: 9vh;
        line-height: 1;
    }

    .input-form {
        font-size: 3vh;
    }

    .controls {
        width: 100%;
        background-color:rgba(0, 0, 0, 0.445);
        position: fixed;
        height: 10%;
        margin: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .control {
        font-size: 6vh;
    }

    .display {
        width: 85%;
        
    }

    .time-display {
        height: 18%;
        font-size: 17vw;
    }

    .footer {
        position: relative;
        margin-top: 12vh;
    }
}