/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@keyframes bluegreen {
    0% {background-color: #66ffff;}
    33% {background-color: #66ff99;}
    66% {background-color: rgb(255, 107, 248);}
    100% {background-color: #66ffff;}
}

@keyframes greenred {
    0% {background-color: lime;}
    50% {background-color: yellow;}
    75% {background-color: orange;}
    100% {background-color: red;}
}

@keyframes shake {
    0% {transform: translateX(-2px);}
    100% {transform: translateX(2px);}
}

@keyframes shimmer {
    0% {background-image: linear-gradient(45deg, black, white); color: transparent;}
    100% {background-image: linear-gradient(45deg, white, black); color: transparent;}
}

html {
    margin: 0%;
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0%;
    height: 100%;
    /*
    animation-name: bluegreen;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    */
}

.background {
    height: 100%;
    background-color: lime;
}

.greenred {
    animation-name: greenred;
}

#timer {
    position: relative;
    top: 30px;
}

.shaking {
    animation-name: shake;
    animation-duration: .05s;
    animation-iteration-count: infinite;
}

#banner {
    font-size: 50px;
}

.numInput {
    width: 45px;
}

label {
    padding-left: 5px;
}

#message {
    height: 30px;
    border-style: solid;
    border-color: transparent;
    font-weight: bold;
}

#controls {
    height: 50px;
    width: 150px;
    margin: auto;
    display: inline-block;
}

.control {
    font-size: 30px;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    background-image: linear-gradient(45deg, black, #6600ff);
    background-clip: text;
    color: black;
    transition: color .1s;
}

.control:hover {
    animation-name: shimmer;
    animation-duration: .07s;
    color: blue;
}

#display {
    font-size: 50px;
    width: 300px;
    margin: auto;
    background-color: black;
    color: lime;
}

#result-component {
    text-align: center;
}

#result-list {
    margin: auto;
    height: 200px;
    width: 400px;
    overflow: auto;
    border: black;
    border-style: solid;
    color: white;
    background-color: black;
}